---
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
    const postEntries = await getCollection("posts");
    return postEntries
        .filter((post) => post.data.draft !== true)
        .map((entry) => ({
            params: { slug: entry.slug },
            props: { ...entry },
        }));
}

import * as date from "date-fns";

import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar, { Pages } from "@components/Navbar.astro";
import Header from "@components/Header.astro";
import { Image } from "astro:assets";

export type Props = CollectionEntry<"posts">;

const { render, data, slug } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render();
---

<BaseLayout title={`${data.title} | Divya Jain`}>
    <Navbar page={Pages.Posts} />
    <Header withGradient>
        <Fragment slot="title">{data.title}</Fragment>
        <Fragment slot="subtitle">
            <div class="tags">
                <span>
                    {date.format(date.parse(data.published_on, "dd/MM/yyyy", new Date()), "MMM do, yyyy")}
                </span>
                <span>{remarkPluginFrontmatter.minutesRead}</span>
            </div>
        </Fragment>
    </Header>
    {
        data.cover && (
            <figure>
                <Image src={data.cover} alt="hero" />
                {data.cover_caption && <figcaption>{data.cover_caption}</figcaption>}
            </figure>
        )
    }
    <div id="content">
        <Content />

        <h2>Comments</h2>
        <script
            is:inline
            src="https://utteranc.es/client.js"
            repo="dvjn/dvjn.dev"
            issue-term={`💬 Comments | /posts/${slug}`}
            label="💬 comments"
            theme="photon-dark"
            crossorigin="anonymous"
            async></script>
    </div>
</BaseLayout>

<style lang="scss">
    .tags {
        display: flex;
        font-size: var(--font-size-sm);
        margin: 0.5rem 0;

        span {
            font-weight: 400;
            display: inline-block;
            padding: 0.15rem 0.5rem;
            margin-right: 0.25rem;
            border-radius: 0.25rem;
            background-color: var(--raisin-black);
        }
    }

    figure {
        margin: -2rem 0 2rem 0;

        img {
            height: 100%;
            width: 100%;
            border-radius: 1rem;
        }

        figcaption {
            opacity: 0.75;
            font-size: var(--font-size-xs);
            text-align: center;
        }
    }

    #content {
        font-size: 1.1rem;
        line-height: 150%;
    }
</style>
