---
import vanity_urls from "@data/go_vanity_urls.json";

export async function getStaticPaths() {
    return vanity_urls.map((entry) => ({
        params: { slug: entry.name },
        props: { ...entry },
    }));
}

import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar from "@components/Navbar.astro";
import Header from "@components/Header.astro";

export type Props = {
    name: string;
    source_url: string;
};

const { name, source_url } = Astro.props as Props;

const vanity_url = `dvjn.dev/${name}`;
---

<BaseLayout title={name}>
    <Fragment slot="head">
        <meta name="go-import" content=`${vanity_url} git ${source_url}` />
        <meta http-equiv="refresh" content=`0;URL='${source_url}'` />
    </Fragment>

    <Navbar />
    <Header withGradient>
        <Fragment slot="title">{name}</Fragment>
        <Fragment slot="subtitle">
            Redirecting to <a href={source_url}>{source_url}</a>
        </Fragment>
    </Header>
</BaseLayout>
